.site-header {
  background-color: yellow;

}


.icon-menu {
  font-size: 1.5em;

}

.main-nav {
  padding: 0.1em;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
}

#filters {
  padding: 0;
  list-style: none;
}


.byline {
  color: #777;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}

@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }

  .main-nav {
    padding: .2em .2em .2em 2em;
  }

  .main-nav ul {
    display: block;
  }

  .main-nav ul li {
    display: inline;
    border-bottom: none;
    float: right;
  }

  .main-nav ul li:hover a {
    color: #29506D;
  }

/*helped me with aligning my pics and resizing them -- Matt*/
  .project{
    display: inline-block;
    margin-left: 1.6%;
    margin-right: 1.6%;
    width: 29.9%;


  }

}
